@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.header{
    max-width: 1062px;
    padding: 104px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav{
    display: flex;
}

.nav ul{
	display: flex;	
	justify-items: space-between;
}
.nav ul li:not(:last-child){margin-right:133px}

.nav ul li{
	text-transform: uppercase;
	justify-content: space-between;
}
.banner-img img{
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}

.comment{
    margin-bottom: 130px;
    text-transform: uppercase;
}
.lifestyle1{
    display: flex;
}
.col-left{
    margin-right: 10px;
}
.col1{
    margin-top: 30px;
    text-transform: uppercase;
}
.col2{
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}
.col3{
    padding: 30px 0 130px;
}
.signup{
    background: #f0f0f0;
    text-align: center;
    height: 286px;

}
.newletter{
    padding: 72px 0 85px;
    font-size: 30px;
    font-weight: bold;
}
.enteremail{
    line-height: 1;
    max-width: 430px;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid black;
    padding: 0 0 5px;
}
.enteremail img{
    margin-left: 219px;
}
.input{
    border: none;
    background: #f0f0f0;
}
.loadmore{
    width: 164px;
    height: 59px;
    border: 1px solid black;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
}
.footer{
    background: #f0f0f0;
    margin-top: 100px;
}
.footer-content{
    max-width: 1062px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 43px 0;
}
.tems {
    margin-right: 50px;
}
.footer-right{
    align-items: center;
    display: flex;
}
.footer-right1:not(:last-child){
    margin-right:43px
}